[ClassicUI]
# 狀態面板 X 軸位置
#MainWindowOffsetX=500
# 狀態面板 Y 軸位置
#MainWindowOffsetY=40
# 字型大小
FontSize=16
# 字型
#Font=Sans
# 選單字型
#MenuFont=Sans
# 要顯示的字型語系
#FontLocale=zh_CN.UTF-8
# 使用系統匣圖示
# 可選值：
# True False
#UseTray=True
# 狀態面板隱藏模式
# 可選值：
# Show
# Auto
# Hide when tray icon is available
# Hide
#MainWindowHideMode=Hide when tray icon is available
# 垂直候選字清單
# 可選值：
# True False
#VerticalList=False
# 佈景名稱
SkinType=classic

